{% extends "myadmin/public/base.html" %}

{% block head %}
        <div class="tpl-content-wrapper">
            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 会员列表 <small>编辑 修改页面</small></div>
                        
                    </div>
                    <div class="am-u-lg-3 tpl-index-settings-button">
                        <button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
                    </div>
                </div>
            </div>
{% endblock %}
{% block haha %}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">会员列表</div></div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                            </div>
                        </div>
                    </div>
                    <form>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                        <div class="am-form-group tpl-table-list-select">
                            <select name="type" data-am-selected="{btnSize: 'sm'}" style="display: none;">
                              <option value="all" {% if request.GET.type == 'all' %} selected {% endif %} >所有条件</option>
                              <option value="username" {% if request.GET.type == 'username' %} selected {% endif %} >用户名</option>
                              <option value="age" {% if request.GET.type == 'age' %} selected {% endif %} >年龄</option>
                              <option value="email" {% if request.GET.type == 'email' %} selected {% endif %} >邮箱</option>
                              <option value="sex" {% if request.GET.type == 'sex' %} selected {% endif %} >性别</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                        <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                            <input type="text" name="keywords" class="am-form-field " value="{{ request.GET.keywords }}">
                            <span class="am-input-group-btn">
                            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"></button>
                          </span>
                        </div>
                    </div>
                </form>

                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                            <thead>
                            
                                <tr>
                                    <th>ID</th>
                                    <th>头像</th>
                                    <th>用户名</th>
                                    <th>邮箱</th>
                                    <th>年龄</th>
                                    <th>性别</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for v in userlist %}
                                <tr>
                                    <td class="am-text-middle">{{ v.id }}</td>
                                    <td>
                                        <img src="{{ v.pic|default:'/static/pics/user.jpg' }}" class="tpl-table-line-img" alt="">
                                    </td>
                                    <td class="am-text-middle">{{ v.username }}</td>
                                    <td class="am-text-middle">{{ v.email }}</td>
                                    <td class="am-text-middle">{{ v.phone }}</td>
                                    <td class="am-text-middle">{{ v.sex }}</td>

                                    <td class="am-text-middle">
                                        {% if v.status == 0 %}
                                            会员
                                        {% else %}
                                            禁用
                                        {% endif %}

                                    </td>
                                    <td class="am-text-middle">{{ v.addtime|date:"Y-m-d H:i:s" }}</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="{% url 'myedit' %}?uid={{ v.id }}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a href="javascript:;" class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.tpl-table-black-operation-del').click(function(){
        id = $(this).parents('tr').find('td:eq(0)').text()
        a = $(this)
        $.get("{% url 'mydelete' %}",{uid:id},function(data){
            alert(data.msg)
            if(data.code == 0){
                a.parents('tr').remove()
            }
        },'json')

    })
</script>
{% endblock %}